<div
  class="container-fluid"
  style="min-height: 89.7vh; background-color: #18445d"
>
  <h3 class="text-white text-center">PROYECTOS</h3>
  <div class="container-fluid">
    <div class="row p-2">
      <!-- Proyecto 1 -->
      <div class="col-sm-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/IMG_2772.jpg"
            alt="Proyecto 1"
          />
          <div class="card-body">
            <h5 class="card-title">
              Remodelación de balcones y zonas exteriores
            </h5>
            <p class="card-text">
              Renovación y mejora de las áreas exteriores de edificios como
              balcones, terrazas, patios y fachadas. Reparación de grietas,
              picar y resanar superficies, impermeabilizar, colocar nuevos
              recubrimientos, cambiar barandales, instalar pisos y accesorios
              exteriores.
            </p>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <!-- Proyecto 2 -->
      <div class="col-sm-4">
        <div class="card">
          <img class="card-img-top" src="../../assets/IMG_2715.jpg" alt="Proyecto 2" />
          <div class="card-body">
            <h5 class="card-title">Balcones, verjas y estructuras metálicas</h5>
            <p class="card-text">
              Fabricación e instalación de elementos de herrería como
              barandales, protecciones, verjas, escaleras y estructuras
              metálicas en balcones. Soldadura, corte y armado de piezas de
              acero, aluminio u otros metales para crear diseños ornamentales y
              funcionales.
            </p>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modal2"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <!-- Proyecto 3 -->
      <div class="col-sm-4">
        <div class="card">
          <img
            class="card-img-top"
            src="../../assets/IMG_2709.jpg"
            alt="Proyecto 3"
          />
          <div class="card-body">
            <h5 class="card-title">
              Remodelación y pintura de bienes inmuebles
            </h5>
            <p class="card-text">
              Renovación en el aspecto de casas, edificios o locales.
              Preparación de superficies, resanar muros y plafones, cambiar
              pisos, cambiar instalaciones, colocar acabados nuevos, aplicar
              pintura interior y exterior con técnicas y productos de calidad
              para lograr un aspecto renovado.
            </p>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#modal3"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modal2Label">
          Remodelacion de balcones y zonas comunes
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          id="carouselExampleAutoplaying"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2706.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2707.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2718.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2751.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2752.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2756.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2757.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelacion de balcones y zonas comunes/IMG_2772.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Remodelacion de balcones y zonas comunes
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div
          id="carouselExampleAutoplaying2"
          class="carousel slide w-75"
          data-bs-ride="carousel2"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/Diseño fabricacion e instalacion de puertas/IMG_2715.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Diseño fabricacion e instalacion de puertas/IMG_2723.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Diseño fabricacion e instalacion de puertas/IMG_2765.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying2"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying2"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Remodelación y pintura de bienes inmuebles
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <div
          id="carouselExampleAutoplaying3"
          class="carousel slide w-75"
          data-bs-ride="carousel3"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2680.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2681.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2683.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2690.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2696.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2709.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2744.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
            <div class="carousel-item">
              <img
                src="../../assets/Remodelación y pintura de bienes inmuebles/IMG_2764.jpg"
                class="d-block w-100"
                style="height: 500px"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleAutoplaying3"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleAutoplaying3"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
