<section class="container-fluid d-flex" class="d-block w-100 " style="background-image:url('../../assets/Tarjeta-Presentacion-CORREGIDA.png');height: calc(100vh - 75px);width:auto;background-size:cover;background-repeat:no-repeat;background-position:center">

  <div class="d-flex flex-column align-items-start justify-content-center" style="height: calc(100vh - 75px)">
      <h3 class="text-white p-2" style="width:600px">¿Qué es IDEAS & CONSTRUCCIONES ICON?</h3>
  <div class="p-2 fs-5" style="width:600px">
      <p class="text-white text-justify ">Somos una empresa dedicada a brindar soluciones de construcción a su proyecto brindando ideas innovadoras y apoyándole con mano de obra calificada para brindarle mayor rapidez en la entrega de sus proyectos.</p>
  </div>

  </div>

</section>
