<nav class="navbar bg-dark navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid d-flex justify-content-between">
    <a class="navbar-brand" href="#">
      <img src="../../assets/logo-German.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      IDEAS & CONSTRUCCIONES ICON
    </a>
    <div class="collapse navbar-collapse justify-content-end p-1" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/inicio" routerLinkActive="active" >INICIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/quienes-somos" routerLinkActive="active">¿QUIENES SOMOS?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/servicios" routerLinkActive="active">SERVICIOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/proyectos" routerLinkActive="active">PROYECTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactanos" routerLinkActive="active">CONTACTENOS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
