<div
  class="container-fluid w-100"
  style="background-color: #1c4e6b; min-height: 89.7vh"
>
  <h3 class="text-center text-white p-3">PREGUNTAS FRECUENTES</h3>
  <div class="row w-100 d-flex justify-content-around flex-wrap mt-5">
    <div
      style="
        border-radius: 18px;
        background: #1c4e6b;
        box-shadow: 42px 42px 81px #163e56, -42px -42px 81px #225e80;
        height: 400px;
      "
      class="col-md-3"
    >
      <h5 class="text-white text-center p-2">
        ¿Qué es IDEAS & CONSTRUCCIONES ICON?
      </h5>
      <p class="text-white fs-6 text-justify">
        Somos una empresa dedicada a brindar soluciones de construcción a su
        proyecto brindando ideas innovadoras y apoyándole con mano de obra
        calificada para brindarle mayor rapidez en la entrega de sus proyectos.
      </p>
    </div>
    <div
      style="
        border-radius: 18px;
        background: #1c4e6b;
        box-shadow: 42px 42px 81px #163e56, -42px -42px 81px #225e80;
        height: 470px;
      "
      class="col-md-3 mt-4"
    >
      <h5 class="text-white text-center p-2">
        ¿Qué tipo de proyectos realiza IDEAS & CONSTRUCCIONES ICON?
      </h5>
      <ul class="text-white">
        <li>Construcción de viviendas</li>
        <li>Mantenimiento de casas y edificios</li>
        <li>Pintura de casas</li>
        <li>Soldadura, balconería, instalación de cielo acústico y de PVC</li>
        <li>Remodelación de interiores</li>
        <li>Instalación de pisos</li>
        <li>Plomería</li>
        <li>Instalación de carpeta asfáltica en terrazas</li>
        <li>
          Aplicaciones de aislamiento térmico en pintura, techos y terrazas
        </li>
        <li>Reparación de filtraciones</li>
        <li>Electricidad residencial</li>
        <li>Instalación de sistemas de iluminación</li>
        <li>Mantenimiento de sistemas eléctricos</li>
        <li>Reparación de portones corredizos</li>
      </ul>
    </div>
    <div
      style="
        border-radius: 18px;
        background: #1c4e6b;
        box-shadow: 42px 42px 81px #163e56, -42px -42px 81px #225e80;
        height: 400px;
      "
      class="col-md-3"
    >
      <h5 class="text-white text-center p-2">
        ¿Cuánto tiempo tarda en recibir respuesta de una cotización?
      </h5>
      <p class="text-white fs-6 text-justify">
        El proceso de recepción de una cotización en IDEAS & CONSTRUCCIONES ICON
        se inicia desde el momento en que usted se comunica con nosotros. Una
        vez que estamos al tanto de su proyecto, nos comprometemos a
        proporcionarle una cotización formal en el menor tiempo posible, para
        lograrlo, llevamos a cabo las mediciones pertinentes relacionadas con su
        caso específico, nuestro objetivo es brindarle una respuesta rápida y
        precisa para que pueda tomar decisiones informadas.
      </p>
    </div>
  </div>

  <p class="text-white text-center mt-3 fs-5">
    Correo Electrónico:ideasyconstruccionesicon51&#64;gmail.com. Teléfono:
    (+504) 3244-3161
  </p>
</div>
