<div style="background-color: #18445d;min-height: calc(100vh - 65px); color:white" class="w-100 p-3">
  <div class="container">
    <h1 class="text-center">CONTACTENOS</h1>
    <div class="row justify-content-center" style="border-radius: 31px;
    background: #18445d;
    box-shadow:  30px 30px 60px #143a4f,
                 -30px -30px 60px #1c4e6b;">
        <div class="col-md-6" >
            <div class="" style="background-color: #18445d">
                <div class="card-body text-start" style="margin-left: 20px;">

                  <div class="d-flex justify-content-center align-items-center">
                    <div style="width: 200px;background-color:#18445d;">
                        <img src="../../assets/logo-German.png" style="width: 200px;" />
                    </div>
                </div>


                 <p class="fs-5 text-center mt-1">Estamos preparados para abordar cualquier aspecto relacionado con la construcción y garantizar la satisfacción de nuestros clientes.</p>
                </div>
                <h5 class="card-title text-center">Información de Contacto</h5>
                <div>
                  <p class="card-text d-flex flex-column justify-content-center text-center p-1">
                    <label><strong>Correo:</strong>gerlobo51&#64;gmail.com</label>
                    <label><strong>Teléfono:</strong> (+504)3244-3161</label>
                    <label> <strong>Redes sociales:</strong></label>
                </p>
                </div>

                    <div class="d-flex justify-content-center mb-3">
                        <a href="#" class="px-1"><i class="fab fa-whatsapp fa-2x"></i></a>
                        <a href="#" class="px-1"><i class="fab fa-facebook fa-2x"></i></a>
                        <a href="#" class="px-1"><i class="fab fa-instagram fa-2x"></i></a>
                    </div>
            </div>
        </div>
    </div>
  </div>


</div>
